{%extends 'yardimci/base.html' %}
{%block title %}Hakkımızda{%endblock%}
{%block link%}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/hakkimizda.css') }}">{% endblock %}

{% block body %}
  <div class="down-container">
    <ul>
        <li>Biz, XYZ Şirketi olarak 2005 yılında kurulmuş bir teknoloji şirketiyiz. Misyonumuz, müşterilerimize yüksek kaliteli ürünler ve hizmetler sunarak onların yaşamlarını kolaylaştırmak ve işletmelerini daha verimli hale getirmektir. İnovasyon ve müşteri odaklılık temel değerlerimiz arasında yer alırken, teknolojide sürekli gelişmeyi ve en son trendleri takip etmeyi önemsiyoruz.

          Sunduğumuz Ürün ve Hizmetler
          
          XYZ Şirketi, geniş bir ürün yelpazesine ve uzman bir hizmet ekibine sahiptir. Müşterilerimize en son teknolojilere dayanan çeşitli ürünler sunuyoruz, örneğin:
          
          Akıllı telefonlar ve tabletler
          Bilgisayarlar ve dizüstü bilgisayarlar
          Akıllı ev sistemleri ve IoT (nesnelerin interneti) cihazları
          Yazılım ve uygulamalar
          Güvenlik sistemleri ve çözümleri
          Müşteri Memnuniyeti
          
          Müşterilerimizin memnuniyeti işimizin temel önceliklerinden biridir. Ürünlerimizi ve hizmetlerimizi, en üst düzeyde kalite ve performans standartlarına uygun olarak tasarlayarak ve geliştirerek müşteri beklentilerini aşmayı hedefliyoruz. Profesyonel ve deneyimli müşteri destek ekibimiz, müşterilerimizin her türlü ihtiyacına hızlı ve etkili bir şekilde yanıt verir.
          
          Sürdürülebilirlik ve Toplumsal Sorumluluk
          
          XYZ Şirketi olarak, sadece teknoloji alanında değil, aynı zamanda çevre ve toplum için de olumlu bir etki yaratmayı amaçlıyoruz. Sürdürülebilirlik çabalarımızla çevresel etkimizi en aza indirmeye ve doğal kaynakları korumaya çalışıyoruz. Topluma geri verme konusunda da aktif rol alıyor, sosyal sorumluluk projelerine katılıyor ve eğitim, sağlık ve çevre gibi alanlarda destek sağlıyoruz.
          
          Ekibimiz
          
          XYZ Şirketi, alanında uzman, tutkulu ve yaratıcı bir ekiple çalışmaktan gurur duyar. Çalışanlarımız, şirketimizin başarısının arkasındaki en değerli varlıklarımızdır ve işimizi ileriye taşımak için birlikte çalışıyoruz.
          
          İletişim
          
          Size nasıl yardımcı olabileceğimizi öğrenmek veya ürünlerimiz ve hizmetlerimiz hakkında daha fazla bilgi almak için bizimle iletişime geçmekten çekinmeyin. Size hizmet vermekten mutluluk duyacağız!
          
          Teşekkür ederiz,
          
          XYZ Şirketi Ekib</li>
    </ul>
   </div> 
{% endblock %}